html,
body {
	font-size: 14px;
	line-height: 1.4;	
}

a {
	text-decoration: none;
	cursor: pointer;
}

.header-navbar {
	background-image: url(../images/site_bg.gif);
	background-repeat:repeat-x;
	height: 26px;
	line-height: 26px;
	padding-left: 10px;
	font-size: 12px;	
}
.ec-w800{
	width: 800px;
}
.ec-table{
	font-size: 14px;
}
.ec-table th,.ec-table td{
	border:1px solid #8CACBB;
	padding:0.3em 0.7em;
}
.ec-table th{
	background:#eee;
}

.ec-form-header{
	width: 110px;
	text-align: right;
	line-height:30px;
}

.ec-form-content{
	width:295px;
	text-align: left;
}

.ec-bg-info {
  background-color: #d9edf7;
}
.ec-mlr-6{
	margin-left: 6px;
	margin-right: 6px
}

.ec-plr-12{
	padding-left:12px;
	padding-right: 12px;
}

.oddrowcolor{
	background-color:#d4e3e5;
}
.evenrowcolor{
	background-color:#c3dde0;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #ddd;
}
.table .table {
  background-color: #fff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-child(odd) {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}
